@import './base.css';

#app {
  --app-padding: 2rem;
  max-width: 720px;
  margin: 0 auto;
  padding: var(--app-padding) var(--app-padding) 0 var(--app-padding);
  font-weight: normal;
  min-height: 100vh;
  /* background-color: rgb(158, 255, 223); */
}

a,a:link,a:visited,a:hover,a:active{
    text-decoration: none;
    color:inherit;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--color-background-mute);
  border-radius: 0.5px;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-info-4);
  border-radius: 0.5px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--color-info-3);
}


/* @media (min-width: 720px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
